.o_kanban_record {
    .o_timetracker {
        .o_timetracker_btn {
            span.fa {
                overflow: visible;
                line-height: 1;
                vertical-align: middle;
            }
        }
    }
}
